In [2]:
import numpy as np
import pandas as pd
from sklearn import datasets
diabetes = pd.read_csv('diabetes.csv')
diabetes[:3]

,PatientID,Pregnancies,PlasmaGlucose,DiastolicBloodPressure,TricepsThickness,SerumInsulin,BMI,DiabetesPedigree,Age,Diabetic
0,1354778,0,171,80,34,23,43.509726,1.213191,21,0
1,1147438,8,92,93,47,36,21.240576,0.158365,23,0
2,1640031,7,115,47,52,35,41.511523,0.079019,23,0

In [3]:
# 設定 X(features), y(label)
X, y = diabetes.iloc[:, 1:-1].values, diabetes.iloc[:, -1].values
# 分成訓練、驗證資料(選擇性)

# 選擇演算法 餵入資料 
from sklearn.neighbors import KNeighborsClassifier
model = KNeighborsClassifier()
model.fit(X, y)
# 預測 = Azure Score
print(model.predict(X))
# 評估 = Azure evaluate
print(model.score(X, y) * 100) # <--------怎樣強化精準度
# 模型參數 y = Wx + b

[0 0 0 ... 0 0 1]
89.34

In [5]:
# 請你幫忙組合一個DataFrame
# [PatientID	Pregnancies	PlasmaGlucose	DiastolicBloodPressure	TricepsThickness	SerumInsulin	BMI	DiabetesPedigree	Age	Diabetic , 'predict']
#  -----------------------X------------------------------------------------------------------------------------------------------     --y--    --predict--
import numpy as np
import pandas as pd
df = diabetes.copy()
df['predict'] = model.predict(X)
df[:3]

,PatientID,Pregnancies,PlasmaGlucose,DiastolicBloodPressure,TricepsThickness,SerumInsulin,BMI,DiabetesPedigree,Age,Diabetic,predict
0,1354778,0,171,80,34,23,43.509726,1.213191,21,0,0
1,1147438,8,92,93,47,36,21.240576,0.158365,23,0,0
2,1640031,7,115,47,52,35,41.511523,0.079019,23,0,0

In [ ]:
# 請你計算 
# class = 0, 正確率多高
# class = 1, 正確率多高

In [6]:
df['invalid'] = (df['Diabetic'] != df['predict'])
df[:3]

,PatientID,Pregnancies,PlasmaGlucose,DiastolicBloodPressure,TricepsThickness,SerumInsulin,BMI,DiabetesPedigree,Age,Diabetic,predict,invalid
0,1354778,0,171,80,34,23,43.509726,1.213191,21,0,0,False
1,1147438,8,92,93,47,36,21.240576,0.158365,23,0,0,False
2,1640031,7,115,47,52,35,41.511523,0.079019,23,0,0,False

In [7]:
# 找出不正確的數量
df.groupby(['Diabetic'])['invalid'].sum()

Diabetic
0    620
1    979
Name: invalid, dtype: int64

In [8]:
df.shape

(15000, 12)